# The .agg() Method

In [1]:
import pandas as pd

In [2]:
%%HTML
<style>
    table.dataframe th,table.dataframe td
        {
            background-color:white;
            border:0.2ch solid black;
            text-align:left!important;
            font-size:12px;
        }
</style>

In [4]:
fortune = pd.read_csv('../fortune1000.csv' ,index_col='Rank')
sectors = fortune.groupby(by=['Sector'])
fortune

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [5]:
sectors['Employees'].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [7]:
sectors.agg({
    'Revenue':'sum',
    'Profits':'mean',
    'Employees':'sum'
})

                              Revenue      Profits  Employees
Sector
Aerospace & Defense            357940  1437.100000     968057
Apparel                         95968   549.066667     346397
Business Services              272195   553.470588    1361050
Chemicals                      243897   754.266667     463651
Energy                        1517809  -602.024590    1188927
Engineering & Construction     153983   204.000000     406708
Financials                    2217159  1872.007194    3359948
Food and Drug Stores           483769  1117.266667    1395398
Food, Beverages & Tobacco      555967  1195.744186    1211632
Health Care                   1614707  1414.853333    2678289
Hotels, Resturants & Leisure   169546   827.880000    2484245
Household Products             234737   515.285714     646038
Industrials                    497581   451.391304    1545229
Materials                      259145   102.976744     638123
Media                          220764   973.880000     550314
Motor Vehicles & Parts         482540  1079.083333    1082560
Retailing                     1465076   597.875000    6227629
Technology                    1377600  1769.343137    3578949
Telecommunications             461834  3242.466667     832468
Transportation                 408508  1226.916667    1536793
Wholesalers                    444800   205.825000     525597

In [12]:
sectors.agg(['size','sum','mean','max'])

                             Revenue                                Profits  \
                                size      sum          mean     max    size
Sector
Aerospace & Defense               20   357940  17897.000000   96114      20
Apparel                           15    95968   6397.866667   30601      15
Business Services                 51   272195   5337.156863   19330      51
Chemicals                         30   243897   8129.900000   48778      30
Energy                           122  1517809  12441.057377  246204     122
Engineering & Construction        26   153983   5922.423077   18114      26
Financials                       139  2217159  15950.784173  210821     139
Food and Drug Stores              15   483769  32251.266667  153290      15
Food, Beverages & Tobacco         43   555967  12929.465116   67702      43
Health Care                       75  1614707  21529.426667  181241      75
Hotels, Resturants & Leisure      25   169546   6781.840000   25413      25
Household Products                28   234737   8383.464286   78756      28
Industrials                       46   497581  10816.978261  140389      46
Materials                         43   259145   6026.627907   22534      43
Media                             25   220764   8830.560000   52465      25
Motor Vehicles & Parts            24   482540  20105.833333  152356      24
Retailing                         80  1465076  18313.450000  482130      80
Technology                       102  1377600  13505.882353  233715     102
Telecommunications                15   461834  30788.933333  146801      15
Transportation                    36   408508  11347.444444   58363      36
Wholesalers                       40   444800  11120.000000   48681      40

                                                         Employees           \
                                 sum         mean    max      size      sum
Sector
Aerospace & Defense            28742  1437.100000   7608        20   968057
Apparel                         8236   549.066667   3273        15   346397
Business Services              28227   553.470588   6328        51  1361050
Chemicals                      22628   754.266667   7685        30   463651
Energy                        -73447  -602.024590  16150       122  1188927
Engineering & Construction      5304   204.000000    803        26   406708
Financials                    260209  1872.007194  24442       139  3359948
Food and Drug Stores           16759  1117.266667   5237        15  1395398
Food, Beverages & Tobacco      51417  1195.744186   7351        43  1211632
Health Care                   106114  1414.853333  18108        75  2678289
Hotels, Resturants & Leisure   20697   827.880000   5920        25  2484245
Household Products             14428   515.285714   7036        28   646038
Industrials                    20764   451.391304   4833        46  1545229
Materials                       4428   102.976744    991        43   638123
Media                          24347   973.880000   8382        25   550314
Motor Vehicles & Parts         25898  1079.083333   9687        24  1082560
Retailing                      47830   597.875000  14694        80  6227629
Technology                    180473  1769.343137  53394       102  3578949
Telecommunications             48637  3242.466667  17879        15   832468
Transportation                 44169  1226.916667   7610        36  1536793
Wholesalers                     8233   205.825000   1472        40   525597


                                      mean      max
Sector
Aerospace & Defense           48402.850000   197200
Apparel                       23093.133333    65300
Business Services             26687.254902   216500
Chemicals                     15455.033333    52000
Energy                         9745.303279    75600
Engineering & Construction    15642.615385    92000
Financials                    24172.287770   331000
Food and Drug Stores          93026.533333   431000
Food, Beverages & Tobacco     28177.488372   263000
Health Care                   35710.520000   203500
Hotels, Resturants & Leisure  99369.800000   505000
Household Products            23072.785714   110000
Industrials                   33591.934783   333000
Materials                     14840.069767    60000
Media                         22012.560000   185000
Motor Vehicles & Parts        45106.666667   215000
Retailing                     77845.362500  2300000
Technology                    35087.735294   411798
Telecommunications            55497.866667   281450
Transportation                42688.694444   341240
Wholesalers                   13139.925000    78500

In [13]:
sectors.agg({
    'Revenue':['sum','mean'],
    'Profits':'mean',
    'Employees':'sum'
})

                              Revenue                    Profits Employees
                                  sum          mean         mean       sum
Sector
Aerospace & Defense            357940  17897.000000  1437.100000    968057
Apparel                         95968   6397.866667   549.066667    346397
Business Services              272195   5337.156863   553.470588   1361050
Chemicals                      243897   8129.900000   754.266667    463651
Energy                        1517809  12441.057377  -602.024590   1188927
Engineering & Construction     153983   5922.423077   204.000000    406708
Financials                    2217159  15950.784173  1872.007194   3359948
Food and Drug Stores           483769  32251.266667  1117.266667   1395398
Food, Beverages & Tobacco      555967  12929.465116  1195.744186   1211632
Health Care                   1614707  21529.426667  1414.853333   2678289
Hotels, Resturants & Leisure   169546   6781.840000   827.880000   2484245
Household Products             234737   8383.464286   515.285714    646038
Industrials                    497581  10816.978261   451.391304   1545229
Materials                      259145   6026.627907   102.976744    638123
Media                          220764   8830.560000   973.880000    550314
Motor Vehicles & Parts         482540  20105.833333  1079.083333   1082560
Retailing                     1465076  18313.450000   597.875000   6227629
Technology                    1377600  13505.882353  1769.343137   3578949
Telecommunications             461834  30788.933333  3242.466667    832468
Transportation                 408508  11347.444444  1226.916667   1536793
Wholesalers                    444800  11120.000000   205.825000    525597