# Extract Rows from a MultiIndex Dataframe

In [27]:
import pandas as pd

In [28]:
%%html
<style>
    table.dataframe th,table.dataframe td{
        background-color:white;
        border:1px solid black;
    }
</style>

In [33]:
bigmac = pd.read_csv('../bigmac.csv',parse_dates=['Date'],index_col=['Date','Country'])
bigmac.sort_index(inplace=True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [34]:
bigmac.loc['2010-01-01']

                           Price in US Dollars
Date       Country
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
           Singapore                      3.19
           South Africa                   2.46
           South Korea                    2.98
           Sri Lanka                      1.83
           Sweden                         5.51
           Switzerland                    6.30
           Taiwan                         2.36
           Thailand                       2.11
           Turkey                         3.83
           UAE                            2.99
           Ukraine                        1.83
           United States                  3.58
           Uruguay                        3.32

In [30]:
bigmac.loc['2010-01-01','Argentina']

Price in US Dollars    1.84
Name: (2010-01-01 00:00:00, Argentina), dtype: float64

In [15]:
bigmac.loc['2010-01-01',"Price in US Dollars"] #price in US dollar is the original name of the column

Date        Country
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
            Singapore         3.19
            South Africa      2.46
            South Korea       2.98
            Sri Lanka         1.83
            Sweden            5.51
            Switzerland       6.30
            Taiwan            2.36
            Thailand          2.11
            Turkey            3.83
            UAE               2.99
            Ukraine           1.83
            United States     3.58
            Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [18]:
bigmac.loc[('2010-01-01','Argentina'),'Price in US Dollars']

Date        Country
2010-01-01  Argentina    1.84
Name: Price in US Dollars, dtype: float64

In [42]:
bigmac.loc[('2016-01-01','India'),'Price in US Dollars']

Date        Country
2016-01-01  India      1.9
Name: Price in US Dollars, dtype: float64

In [44]:
bigmac.loc[('2010-01-01',)]

                Price in US Dollars
Country
Argentina                      1.84
Australia                      3.98
Brazil                         4.76
Britain                        3.67
Canada                         3.97
Chile                          3.18
China                          1.83
Colombia                       3.91
Costa Rica                     3.52
Czech Republic                 3.71
Denmark                        5.99
Egypt                          2.38
Euro area                      4.84
Hong Kong                      1.91
Hungary                        3.86
Indonesia                      2.24
Israel                         3.99
Japan                          3.50
Latvia                         3.09
Lithuania                      2.87
Malaysia                       2.08
Mexico                         2.50
New Zealand                    3.61
Norway                         7.02
Pakistan                       2.42
Peru                           2.81
Philippines                    2.21
Poland                         2.86
Russia                         2.34
Saudi Arabia                   2.67
Singapore                      3.19
South Africa                   2.46
South Korea                    2.98
Sri Lanka                      1.83
Sweden                         5.51
Switzerland                    6.30
Taiwan                         2.36
Thailand                       2.11
Turkey                         3.83
UAE                            2.99
Ukraine                        1.83
United States                  3.58
Uruguay                        3.32

In [45]:
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [53]:
bigmac.iloc[0]
bigmac.iloc[[10,20,132,12]]

                      Price in US Dollars
Date       Country
2010-01-01 Denmark                   5.99
           Malaysia                  2.08
2011-07-01 Sri Lanka                 2.56
2010-01-01 Euro area                 4.84