# A review of the .value_counts() method

In [1]:
import pandas as pd

In [32]:
%%HTML
<style>
table.dataframe td,table.dataframe th
    {
        background-color:white;
        border:1px solid black;
        padding:5px;
        font-weight:bold;
        
    }
</style>

In [33]:
nba = pd.read_csv('../nba.csv')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [34]:
nba['Team'].value_counts()
nba['Team'].value_counts().head(1)

New Orleans Pelicans    19
Name: Team, dtype: int64

In [35]:
nba['Position'].value_counts().head(1)

SG    102
Name: Position, dtype: int64

In [36]:
nba["Weight"].value_counts().tail()

278.0    1
227.0    1
239.0    1
289.0    1
307.0    1
Name: Weight, dtype: int64

In [38]:
nba['Salary'].value_counts()

947276.0      31
845059.0      18
525093.0      13
981348.0      6
1100602.0     5
16407500.0    5
5000000.0     5
12000000.0    5
8000000.0     5
4000000.0     5
3000000.0     4
7000000.0     4
2814000.0     4
1000000.0     4
19689000.0    4
200600.0      3
8500000.0     3
2500000.0     3
1015421.0     3
2854940.0     3
13500000.0    3
5543725.0     3
2288205.0     2
1270964.0     2
2900000.0     2
1007026.0     2
111444.0      2
13000000.0    2
1500000.0     2
1842000.0     2
3425510.0     2
55722.0       2
3750000.0     2
5675000.0     2
14260870.0    2
11235955.0    2
15851950.0    2
4500000.0     2
5500000.0     2
6500000.0     2
1140240.0     2
2170465.0     2
8193029.0     1
3156600.0     1
4236287.0     1
2144772.0     1
2000000.0     1
1300000.0     1
5138430.0     1
5694674.0     1
9638555.0     1
1646400.0     1
7730337.0     1
8988765.0     1
8193030.0     1
1524000.0     1
11217391.0    1
6000000.0     1
11250000.0    1
6980802.0     1
3533333.0     1
3553917.0     1
21468695.0    1
306527.0      1
10734586.0    1
3382023.0     1
3457800.0     1
20093064.0    1
1147276.0     1
2100000.0     1
4290000.0     1
15756438.0    1
10595507.0    1
1662360.0     1
2399040.0     1
1252440.0     1
3132240.0     1
13913044.0    1
600000.0      1
3431040.0     1
6600000.0     1
6110034.0     1
3398280.0     1
13437500.0    1
1175880.0     1
2041080.0     1
7402812.0     1
1200000.0     1
5464000.0     1
15409570.0    1
20000000.0    1
1599840.0     1
15592217.0    1
1733040.0     1
2139000.0     1
5703600.0     1
13125306.0    1
9756250.0     1
3189794.0     1
1320000.0     1
1159680.0     1
18671659.0    1
1763400.0     1
18907726.0    1
83397.0       1
6300000.0     1
12403101.0    1
2869440.0     1
1210800.0     1
4088019.0     1
20158622.0    1
1276000.0     1
2894059.0     1
561716.0      1
261894.0      1
1920240.0     1
10300000.0    1
2148360.0     1
2612520.0     1
22970500.0    1
1938840.0     1
5013559.0     1
5758680.0     1
947726.0      1
1149500.0     1
1358880.0     1
211744.0      1
11370786.0    1
3344000.0     1
1449000.0     1
900000.0      1
4375000.0     1
189455.0      1
111196.0      1
15501000.0    1
2050000.0     1
1201440.0     1
4345000.0     1
4389607.0     1
6796117.0     1
4662960.0     1
2056920.0     1
8229375.0     1
1100000.0     1
1449187.0     1
5378974.0     1
2279040.0     1
8344497.0     1
2127840.0     1
12650000.0    1
700000.0      1
1391160.0     1
15361500.0    1
1335480.0     1
22875000.0    1
5219169.0     1
9000000.0     1
1953960.0     1
2357760.0     1
4582680.0     1
2637720.0     1
2380440.0     1
1635476.0     1
2021520.0     1
4053446.0     1
10000000.0    1
4204200.0     1
14000000.0    1
3873398.0     1
10050000.0    1
2085671.0     1
10151612.0    1
3815000.0     1
15514031.0    1
1230840.0     1
4300000.0     1
4394225.0     1
2505720.0     1
4660482.0     1
2616975.0     1
1749840.0     1
2380593.0     1
1348440.0     1
1724250.0     1
2481720.0     1
3102240.0     1
6912869.0     1
2850000.0     1
3578947.0     1
1535880.0     1
5158539.0     1
9500000.0     1
7085000.0     1
5250000.0     1
13400000.0    1
2165160.0     1
2109294.0     1
1463040.0     1
6331404.0     1
1294440.0     1
3777720.0     1
6270000.0     1
2433333.0     1
1499187.0     1
7070730.0     1
2658240.0     1
3807120.0     1
5746479.0     1
625093.0      1
4171680.0     1
3034356.0     1
3950001.0     1
1160160.0     1
289755.0      1
16744218.0    1
222888.0      1
9650000.0     1
16000000.0    1
2525160.0     1
1074169.0     1
3110796.0     1
4775000.0     1
13600000.0    1
855000.0      1
5152440.0     1
3300000.0     1
3741480.0     1
1142880.0     1
7700000.0     1
25000000.0    1
206192.0      1
3036927.0     1
17120106.0    1
3950313.0     1
12700000.0    1
167406.0      1
1509360.0     1
1148640.0     1
22359364.0    1
1131960.0     1
22192730.0    1
1170960.0     1
3135000.0     1
2569260.0     1
1415520.0     1
5192520.0     1
650000.0      1
16407501.0    1
8333334.0     1
4050000.0     1
1282080.0     1
7448760.0     1
169883.0      1
2891760.0     1
134215.0      1
1572360.0     1
30888.0       1
1155600.0     1
2943221.0     1
14700000.0    1
6268675.0     1
258489.0      1
4131720.0     1
245177.0      1
9588426.0     1
5200000.0     1
11710456.0    1
1636842.0     1
250750.0      1
3376000.0     1
1035000.0     1
10449438.0    1
4950000.0     1
1164858.0     1
3542500.0     1
14783000.0    1
12250000.0    1
6060606.0     1
1709719.0     1
2239800.0     1
1474440.0     1
19688000.0    1
7900000.0     1
2008748.0     1
13800000.0    1
2841960.0     1
1404600.0     1
1584480.0     1
273038.0      1
9213483.0     1
3272091.0     1
3075880.0     1
2250000.0     1
4626960.0     1
1304520.0     1
12100000.0    1
7500000.0     1
295327.0      1
2836186.0     1
6486486.0     1
5016000.0     1
3333333.0     1
1824360.0     1
8042895.0     1
1242720.0     1
2489530.0     1
5103120.0     1
9463484.0     1
700902.0      1
Name: Salary, dtype: int64